*{
	font-family: 'Chakra Petch',sans-serif;
}

.nav__resp-ul{
	display: none;
}

.nav{
	background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
;
}
.nav__h1{
	position: relative; 
	left: 50%;
	transform: translateX(-50%);
	margin: 20px;
	display: inline-block;
	color: white;
}
.nav__ul{
	display: flex;
}

.nav__li{
	position: relative;
	left: 46%;
	transform: translateX(-50%);
	display: inline-block;
	padding: 10px;
	color: #fff;
}

.nav__li:hover > a{
	color: #bbb;
}
.nav__li:hover{
	color: #bbb;
}

.nav__li a{
	color: #fff;
	text-decoration: none;
}
.nav__li i{
	box-sizing: border-box;
	text-align: center;
	margin-right: 5px;
}

.nav__resp-button-cont{
	position: absolute;
	width: 100%;
	font-size: 25px;
	margin-top: -45px;
	z-index: 100;
	background:linear-gradient(220.55deg, #565656 0%, #181818 100%) ;
	color: #fff;
}

.nav__resp-button{
	margin-top: 3px;
	padding: 6px 25px;
	text-align: right;
	width: 100%;
}

.nav__resp-ul{
	font-size: 20px;
}

.video{
	height: 700px;
	text-align: center;
	background: rgba(90,90,90,.5);
}

.video__file{
	margin-top: 50px;
	width: 1200px;
	height: 600px;
}

.arbol{
	height: 600px;
}

.cont-botones div{
	text-align: center;
	position: relative;
	width: 200px;
	height: 75px;
	background: black;
	border-radius: 20px;
	border: 3px solid whitesmoke;
}

.arbol__botones{
	font-size: 20px;
	color: white;
	text-decoration: none;
	height: 100px;
	width: 250px;
}

.veritas-grande {
	position: absolute;
	display: inline-block;
	width: 350px; 
	height: 150px;
	font-size: 40px;
	color: white;
	padding-top: 48px;
	text-align: center;
	background: black;
	border-radius: 20px;
	border: 3px solid whitesmoke;
	left: 38%;
	top: 125%;
}

.veritas-grande-a{
	text-decoration: none;
	color: white;
}

.bot1,.bot2{
	position: relative;
	padding-top: 25px;
}

.bot1{
	top: 120px;
	left: 17%;
}

.bot2{
	top: 300px;
	left: 20%;
}

.bot5{
	padding-top: 24px;
	top: 130px;
	left: 43%;
}
.bot3{
	padding-top: 15px;
	top: 235px;
	left: 65%;
}
.bot4{
	padding-top: 15px;
	top: -100px;
	left: 70%;
}
	.sobre-nos{
		background: rgba(90, 90, 90, .3);
		height: 200px;
}

.footer{
	background: rgba(23, 23, 22, 0.8);
	height: 130px;
	text-align: center;
}
.footer__p{
	color: rgb(90, 90, 90);
	margin-top: 20px;
	display: inline-block;
	width: 400px;
}
.footer__logo{
	position: absolute;
	left: 0px;
	width: 130px;
}


.cavernas{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: darkgrey;
}

.ecosoc1{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: white;
}

.ecosoc1__div{
	text-align: center;
	margin-bottom: 10px;
}
.ecosoc1__h2{
	display: inline-block;
	background-color: #0B880B ;
}


.asamblea{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: white;
}

.asamblea__div{
	text-align: center;
	margin-bottom: 10px;
}
.asamblea__h2{
	display: inline-block;
	background-color: #E71A1A;
}


.ddhhnuma{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: white;
}

.ddhhnuma__div{
	text-align: center;
	margin-bottom: 10px;

}
.ddhhnuma__h2{
	display: inline-block;
	background-color: #11D996 ;
}
.ddhhnuma__h22{
	display: inline-block;
	background-color: #EFA81B ;

}

.consejo{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: white;
}

.consejo__div{
	text-align: center;
	margin-bottom: 10px;
}
.consejo__h2{
	display: inline-block;
	background-color: #E94ED9;
}

.oms{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: white;
}

.oms__div{
	text-align: center;
	margin-bottom: 10px;
}
.oms__h2{
	display: inline-block;
	background-color: #DCF505;
}


.norte{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: white;
}

.norte__div{
	text-align: center;
	margin-bottom: 10px;
}
.norte__h2{
	display: inline-block;
	background-color: #15D7EA;
}


.sur{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: white;
}

.sur__div{
	text-align: center;
	margin-bottom: 10px;
}
.sur__h2{
	display: inline-block;
	background-color: #15D7EA;
}


.este{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: white;
}

.este__div{
	text-align: center;
	margin-bottom: 10px;
}
.este__h2{
	display: inline-block;
	background-color: #15D7EA;
}


.oeste{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: white;
}

.oeste__div{
	text-align: center;
	margin-bottom: 10px;
}
.oeste__h2{
	display: inline-block;
	background-color: #15D7EA;
}


.onum{
	margin: 20px;
	padding: 20px;
	background: rgba(90, 90, 90, .3);
	color: white;
}

.onum__div{
	text-align: center;
	margin-bottom: 10px;
}
.onum__h2{
	display: inline-block;
	background-color: #8C29C1 ;
}





@media only screen and (max-width: 500px){
	.nav__ul{
		display: none;
	}
	.nav{
		height:	46px;
		width: 100%;
	}
	.nav__resp-ul{
		display: block;
		position: absolute;
		width:100%;
		height: 46px;
		margin-top: 46px;
	}
	.nav__resp-li{
		width: 100%;
	}
	.nav__resp-li i{
		padding: 10px;
		box-sizing: border-box;
		color: #fff;
		text-align: center;
		margin-right: 5px;
	}
	.nav__resp-li a{
		text-decoration: none;
		color: #fff;
	}

	.nav__li-cont{
		position: relative;
		top: -10000px;
		height: calc(100vh - 46px);
		width: 75%;
		background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
		transition: all 0.7s;
		padding-top: 10px;
		z-index: 1;
	}

	.nav__resp-ul:hover > .nav__li-cont{
		top:0;
	}

	.video{
		height: 300px;
	}

	.video__file{
		width: 350px;
		height: 200px;
	}
	.nav__h1{
		position: absolute;
		left: 30%;
		transform: translateX(-30%);
		z-index: 1000;
		font-size: 20px;
		margin: 10px;
	}

	.arbol{
		height: 340px;
	}


	.cont-botones div{
		width: 100px;
		height: 50px;
		border-radius: 15px;
	}


	.arbol__botones{
		font-size: 10px;
	}

	.veritas-grande{
		width: 150px;
		height: 100px;
		font-size: 30px;
		padding-top: 30px;
		left: 30%;top: 440px;
	}

	.bot1{
		padding-top: 10px;
		top: 20px;
		left: 10%;
	}
	.bot2{
		padding-top: 10px;
		top:150px;
		left:5%;
	}
	.bot3{
		padding-top: 1px;
		box-sizing: border-box;
		top: 160px;
		left: 140px;
	}

	.bot4{
		padding-top: 1px;
		top: -125px;
		left: 260px;
	}
	
	.bot5{
		padding: 10px;
		top: 10px;
		left: 270px;
	}
	.sobre-nos{
		height: 380px;
	}

	.footer__p{
		height: 100px;
	}

	.footer__logo{
		display: none;
}
} 

@media only screen 
    and (width: 428px) 
    and (height: 926px) 
    and (-webkit-device-pixel-ratio: 3) { 
    	.nav__h1{
    		font-size: 10px;
		}

    }

/*@supports (-webkit-touch-callout: none) {

	.veritas-grande{
		width: 150px;
		height: 100px;
		font-size: 30px;
		padding-top: 30px;
		left: 30%;top: 40%;
	}
}
*/



.video__flechita{
	margin-top: 10px;
	font-size: 20px;
}
.video__flechita-link{
	color: #fff;
}


.sobre-nos__p{
	text-align: justify;
	margin: 23px;
	display: inline-block;
	color: white;
}

.sobre-nos__p:first-letter{
	font-size:23px;
}

